/*
|---------------
| Body layout
|---------------
*/
body {
    width:100%;
    background-color: #000;
    color:#ccc;
    margin:0px;
    padding:0px;
    font:13px Yanone Kaffeesatz,arial,helvetica,sans-serif;
}

/*
|------------
|= Grid template
|------------
*/

.header, .content, .sidebox, .footer {
    background-color: #484848;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.sidebox {
    grid-area: sidebox;
}

.footer {
    grid-area: footer;
    background-color: inherit;
}


.container {
    margin:0px auto 0px;
    padding:0px;
    width: 80%;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content sidebox"
    "content content sidebox"
     " . footer . ";
    border-bottom:5px solid #C0C0C0;
    border-left: 5px solid #C0C0C0;
    border-right: 5px solid #C0C0C0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width:500px) {
    .container {
        grid-template-areas: 
        "header"
        "content"
        "sidebox"
         "footer";
    }
}

/*
|---------------
|= Content
|---------------
*/

.answers {
    margin:0px auto 0px;
    float: none;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.question {
    font-weight: bold;
    font-size: 1.3em
}

.answer {
    font-weight: bold;
}